.otp {
  :first-child {
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 15px;
  }
  :nth-child(2){
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 15px;
  }
}
.inputBoxes {
  display: flex;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 3px;
    -moz-appearance: textfield;
    border: 1px solid rgb(100, 100, 100);
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    outline: none; /* Removes the border when the input is clicked */
  }
}
