<div class="otp fixedWidth">
    <fa-icon [icon]="faArrowLeft"  routerLink="/login"></fa-icon>
    <div>Enter the 5 digit OTP sent to 91XXXXXXXXXX</div>
    <div class="inputBoxes">
        <input type="number" name="" id="" />
        <input type="number" name="" id="" />
        <input type="number" name="" id="" />
        <input type="number" name="" id="" />
        <input type="number" name="" id="" />
    </div>
    <div class="verifyBtn navBtn"  [routerLink]="isEnable?['/landingPage']:[]" >VERIFY</div>
</div>