<nav>
    <div>
        <div class="pointer"><fa-icon class="icon " [styles]="{'height':'1.2em'}" [icon]="['far','user']" class="userProfile"></fa-icon></div>
        <div class="pointer">Add Address ⏷</div>
    </div>
    <div class="logoName pointer">
        PhonePe
    </div>
    <div>        
        <div><fa-icon class="icon pointer" [styles]="{'height':'1.5em'}" icon="qrcode"></fa-icon></div>
        <div><fa-icon class="icon pointer" [styles]="{'height':'1.5em'}" [icon]="['far','bell']"></fa-icon></div>
        <div><fa-icon class="icon pointer" [styles]="{'height':'1.5em'}"  [icon]="['far','circle-question']"></fa-icon></div>
    </div>
</nav>
