<footer>
    <div>
        <div class="pointer" routerLink="/landingPage/Home" routerLinkActive="active" ariaCurrentWhenActive="location">
            <div>
                <fa-icon class="icon" [styles]="{'height':'1.2em'}" [icon]="['fas','house']"></fa-icon>
            </div>
            <div>Home</div>
        </div>
        <div class="pointer" routerLink="/landingPage/Stores" routerLinkActive="active"  ariaCurrentWhenActive="location">
            <div><fa-icon class="icon" [styles]="{'height':'1.2em'}" [icon]="['fas','bag-shopping']"></fa-icon></div>
            <div>Stores</div>
        </div>
        <div class="pointer" routerLink="/landingPage/Insurance" routerLinkActive="active"  ariaCurrentWhenActive="location">
            <div class="insurance"><fa-icon class="icon" [styles]="{'height':'1.2em'}" [icon]="['fas','file-circle-check']"></fa-icon></div>
            <div>Insurance</div>
        </div>
        <div class="pointer" routerLink="/landingPage/Wealth" routerLinkActive="active"  ariaCurrentWhenActive="location">
            <div><fa-icon class="icon" [styles]="{'height':'1.2em'}" [icon]="['fas','indian-rupee-sign']"></fa-icon></div>
            <div>Wealth</div>
        </div>
        <div class="pointer" routerLink="/landingPage/History" routerLinkActive="active" ariaCurrentWhenActive="location">
            <div><fa-icon class="icon" [styles]="{'height':'1.2em'}" [icon]="['fas','right-left']"></fa-icon></div>
            <div>History</div>
        </div>
    </div>
</footer>